.hideContainer {
    visibility: hidden;
}

.showContainer {
    margin-top: 2rem;
}

.codeContainer {
    text-align: center;
}

.codesGenerated {
    margin-top: -7rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: 18rem;
}

.codeSpacer {
    justify-content: space-between;
    margin-bottom: 5rem;
}

.qrContainer {
    height: 29rem !important;
    display: flex;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    -ms-overflow-style: scrollbar;
    height: 20rem;
    flex-flow: column;
    gap: 3rem;
    width: 100%;
    margin: auto;
    scale: 0.6;
  }

  .qrContainer::-webkit-scrollbar {
    width: 10px;
  }

  .qrContainer::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  }

  .sendForPrintingButton {
    margin-top: -6rem;
    max-width: 16rem;
  }

  .modal > div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .highlight {
    font-weight: bold;
  }

  .codeConfirmScroll {
    overflow-y: scroll;
    height: 4rem;
  }

  .disclaimer {
    font-style: italic;
  }

  @media (max-width: 500px) {
    .codesGenerated {
        min-width: 0;
    }

    .qrContainer {
        scale: 0.7;
        height: 20rem !important;
        margin-top: 0rem !important;
        gap: 0rem;
    }

    .codeSpacer {
        display: block;
        width: 20rem;
        margin: auto;
        margin-bottom: 1rem;
    }

    .sendForPrintingButton {
        margin-top: 1rem;
    }
  }