.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.207); /* Semi-transparent black background */
    z-index: 10; /* Higher than other page elements */
  }

.contentContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.productInfoInputs {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-width: 18rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.configInputs {
    /* margin-bottom: 3rem; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
}

.addProductPanel {
    display: flex;
    gap: 1rem;
    flex-flow: column;
}

.addProductPanel button {
    width: 50%;
    margin: auto;
}

.infoInput {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 16rem;
    margin-bottom: 1rem;
}

.inputLabel {
    font-weight: 600;
}

.generatedCodes {
    text-decoration: underline;
    font-weight: var(--primary-label-weight);
}

.selectRep {
    width: inherit;
}

.productContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
    padding: 0 2rem;
    margin-top: 2rem;

}

.productContainerDiv {
    flex-flow: column;
    min-width: 18rem;
    margin-top: 2rem;
    padding: 1rem 3rem;
    box-shadow: 18px 13px 36px 7px rgb(77 77 77 / 18%), 39px 1px 26px -39px rgb(77 77 77 / 4%);
    border-radius: 10px;
}

.selectProductsLabel {
    font-weight: 600;
    margin-bottom: 0rem;
    text-decoration: underline;
}

.productScroll {
    overflow-y: scroll;
    flex-flow: column;
    display: flex;
    height: 14rem;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    -ms-overflow-style: scrollbar;
}

.productScroll::-webkit-scrollbar {
    width: 10px;
}

.productScroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.product {
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    padding: 1rem;
}

.productRemove {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.generateCodesButton {
    /* margin: 2rem 0; */
    max-width: 13rem;
}

.generatedCodesContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.noProducts {
    margin-bottom: 4rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.noProductSpan {
    color: #b1b1b1cf;
}

.addProductContainer {
    margin-bottom: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.codesLoading {
    margin-top: 1rem;
    z-index: 11;
}

.searchProducts {
    width: 50%;
    margin: 1rem auto;
}

.spinnerBackground {
    z-index: 15;
    padding: 4rem;
    border-radius: 45px;
    background-color: var(--primary-white);
}

.prevNextButtons {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

@media (max-width: 500px) {
    .productContainer {
        display: block;
        margin: auto;
        padding: 0;
    }

    .productContainerDiv {
        min-width: 0rem;
        width: 23rem;
    }

    .productInfoInputs {
        min-width: 0rem;
    }

    .product {
        padding: 1rem 0;
    }

    .addProductPanel button {
        width: 100%;
        margin: auto;
    }

    .spinnerBackground {
        padding: 2rem;
    }

    .searchProducts {
        width: 80%;
    }
}