.insightHeader {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 4rem;
    color: white !important;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 10px;
    width: 50%;
    margin: 1rem auto 3rem auto;
    background-color: var(--primary-blue);
}

.statisticCard {
    /* border: 1px solid  var(--background-blue); */
    padding: 1.25rem !important;
    border-radius: 8px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start !important;
    background-color: var(--background-blue);
    box-shadow: 16px 10px 15px -8px rgb(77 77 77 / 18%), 0 0px 0px 0 rgb(77 77 77 / 4%);
    background-size: 90px 90px;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position: right bottom;
    text-align: left;
}

.insightGridTop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    text-align: center;
    grid-gap: 1rem;
    margin: 1rem 5rem;
    min-width: 11rem;
    min-height: 10rem;
}

.insightGridBottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
    margin: 3rem 7rem;
}

.chart {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    border: 1px solid var(--background-blue);
    box-shadow: 16px 10px 15px -8px rgb(77 77 77 / 18%), 0 0px 0px 0 rgb(77 77 77 / 4%);
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--background-blue);
}

.scanGraph {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5rem;
}

.tableLayout {
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}

.tableData {
    box-shadow: 16px 10px 15px -8px rgb(77 77 77 / 18%), 0 0px 0px 0 rgb(77 77 77 / 4%);
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--background-blue);
    background-color: var(--background-blue);
}

.filterInput {
    width: 80%;
    margin-bottom: 1rem;
}

.chartTitles {
    font-size: 1.3rem;
}

@media(max-width: 500px) {
    .insightHeader {
        margin-bottom: 3rem;
        width: 80%;
    }

    .insightGridTop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-flow: column;
        text-align: center;
        gap: 2rem;
        margin: 0;
        margin-bottom: 2rem;
    }    
    .insightGridBottom {
        display: flex;
        flex-flow: column;
        text-align: center;
        gap: 2rem;
        margin: 0rem;
    }

    .tableLayout {
        justify-content: space-evenly;
        display: flex;
        flex-flow: column;
        gap: 1rem;
    }

    .filterInput {
        width: 80%;
        margin-bottom: 1rem;
    }

    .statisticCard {
        text-align: left;
        align-items: flex-start;
        background-size: 70px 70px;
    }

    .scanGraph {
    margin-top: 3rem;
}
.chartTitles {
    font-size: 1rem;
}
}