html {
    --primary-blue: #1C1259;
    --secondary-blue: #CACAEA;
    --background-blue: rgb(243, 245, 249);
    --primary-green: rgb(30, 172, 149);
    --highlight-yellow: #fdaa2df0;
    --secondary-yellow: #FFD28C;
    --primary-red: #EE4266;
    --primary-black: #111111;
    --secondary-black: #2a2a2a;
    --primary-white: #ffffff;
    --primary-font-size: 14px;
    --primary-label-weight: 500;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

canvas {
  margin: 1rem 0;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon, .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
    background-color: var(--primary-green) !important;
    border-color: var(--primary-green) !important;
}

.ant-steps-item-finish .ant-steps-item-icon, .ant-pagination-item-active {
    border-color: var(--primary-green) !important;
}

.ant-pagination-item-active a {
    color: var(--primary-green) !important;
}

.ant-pagination-item a:hover {
    color: var(--primary-green) !important;
}

.ant-table-thead > tr > th {
    background-color: var(--background-blue) !important;
}

.ant-card-head {
    background-color: var(--background-blue) !important;
}

.signOut-button {
    background: none;
    border: 1px solid var(--highlight-yellow);
    font-size: 1rem;
    padding: 7px 20px;
    border-radius: 20px;
    color: var(--background-blue) !important;
    background-color: var(--highlight-yellow);
}

.signOut-button:hover {
    background-color: var(--background-blue);
    color: var(--highlight-yellow) !important
}

.input-label {
  font-weight: 500;
}

.ant-layout {
    background-color: white !important;
}

.ant-page-header-heading-title {
  white-space: normal !important;
}

.ant-btn {
  white-space: normal !important;
  height: fit-content !important;
  border-radius: 10px !important;
}

.ant-btn-primary {
    background-color: var(--primary-green) !important;
    border-color: var(--primary-green) !important;
    color: var(--primary-white) !important;
}

.ant-btn-primary:hover {
    background-color: var(--primary-white) !important;
    border-color: var(--primary-green) !important;
    color: var(--primary-green) !important;
}

.ant-btn-dangerous {
    background-color: var(--primary-red) !important;
    border-color: var(--primary-red) !important;
    color: var(--primary-white) !important;
}

.ant-btn-dangerous:hover {
    background-color: var(--primary-white) !important;
    border-color: var(--primary-red) !important;
    color: var(--primary-red) !important;
}

.ant-btn-primary[disabled] {
    background-color: grey !important;
    border-color: grey !important;
}

.ant-btn[disabled] {
    background-color: var(--primary-white) !important;
    border-color: var(--primary-green) !important;
    color: var(--primary-green) !important; 
}

.ant-btn-default {
    border-color: var(--primary-green) !important;
    color: var(--primary-green) !important;
}

.ant-btn-default:hover {
    border-color: var(--primary-green) !important;
    background-color: var(--primary-green) !important;
    color: var(--primary-white) !important;
}

.ant-menu-item {
    color: var(--primary-blue) !important
}

.ant-menu-item-selected, .ant-menu-item:hover, .ant-tabs-tab-active > .ant-tabs-tab-btn, .ant-tabs-tab-btn:hover {
    color: var(--highlight-yellow) !important;
}

.ant-tabs-ink-bar {
    background: var(--highlight-yellow) !important;
}

.ant-steps {
    width: 80% !important;
}

.ant-steps-finish-icon svg {
    color: var(--primary-green) !important;
}



.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after {
    border-color: var(--highlight-yellow) !important;
}

.ant-card-body {
    justify-content: center;
    align-items: center;
    display: flex !important;
    gap: 1rem;
    width: 30rem;
}

.ant-card-head-title {
    text-align: center;
}

.ant-spin {
    color: var(--primary-green) !important;
}

.ant-spin-dot-item {
    background-color: var(--primary-green) !important;
}

.ant-collapse {
    width: 30rem;
    font-weight: 500;
    background-color: var(--background-blue) !important;
}

.ant-collapse-header {
    text-align: center;
}

.ant-statistic-content {
    font-size: 1.3rem !important;
}



th, td {
    text-align: center !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media (max-width: 600px) {

  aside {
    flex: 0 0 85px !important;
    min-width: 85px !important
  }

  .ant-layout-sider-trigger {
    max-width: 80px !important;
  }

  .ant-menu-title-content {
    display: none !important;
}

.ant-collapse, .ant-card-body {
    width: 20rem;
}

.ant-statistic-content {
    font-size: 1.1rem !important;
}
}
