.restockItemContainer {
    display: flex;
    gap: 40px;
    padding: 7px;
}

.restockCardInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.customTablePending, .customTableCompleted {
    width: 47rem !important;
}

.filterCompleted {
    width: 40%;
    margin-bottom: 1rem;
}

@media (max-width: 500px) {
    .customTableCompleted, .customTablePending {
        width: 20rem !important;
    }

    .customTablePending {
        margin-right: 2rem;
    }


    .filterCompleted {
        width: 90%;
    }
  }

