.restockItemContainer {
    display: flex;
    gap: 40px;
    padding: 7px;
}

.restockCardInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.customTable {
    width: 60rem !important;
}

@media (max-width: 500px) {
    .customTable {
        width: 20rem !important;
    }
  }

